<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/scales_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scales_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.LawNotes10V"
        tools:targetApi="31">
        <activity
            android:name=".screens.criminal.homicide.CriminalCasesChapter5Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.homicide.CriminalQuizScoreChapter5Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.homicide.CriminalQuizChapter5Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.homicide.CriminalFlashCardChapter5Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.homicide.HomicideScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.mensrea.CriminalCasesChapter4Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.mensrea.CriminalQuizScoreChapter4Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.mensrea.CriminalQuizChapter4Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.mensrea.CriminalFlashCardChapter4Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.mensrea.MensReaScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.causation.CriminalCasesChapter3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.causation.CriminalQuizScoreChapter3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.causation.CriminalQuizChapter3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.causation.CriminalFlashCardChapter3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.omission.CriminalCasesChapter2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.omission.CriminalQuizScoreChapter2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.omission.CriminalQuizChapter2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.omission.CriminalFlashCardChapter2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.omission.OmissionScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.causation.CausationScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.lms.LsmFlashCardChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.lms.LsmScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.lms.LsmChaptersSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.public_law.PublicFlashCardChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.public_law.PublicChaptersSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.public_law.PublicScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.contract.ContractFlashCardChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.contract.ContractChapterSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.contract.ContractScreenActivity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.actusreus.CriminalCasesChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.actusreus.CriminalQuizScoreChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.actusreus.CriminalQuizChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.CriminalChaptersSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.actusreus.CriminalFlashCardChapter1Activity"
            android:exported="false" />
        <activity
            android:name=".screens.criminal.actusreus.ActusReusScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_criminal_screen"
            android:theme="@style/Theme.LawNotes10V" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>